*.o
tmp
log
*.log
vgcore.*
*.sqlite
*.sqlite3
*.db

compile_commands.json
bin/*
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/
.cmake/
